@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <p>Singleton : @ViewBag.Singleton</p>
        <p>Transient : @ViewBag.Transient</p>
        <p>Scoped : @ViewBag.Scoped</p>
    </div>

    <div>
        <h3>Guid Service</h3>
        <p>Singleton : @ViewBag.GuidServiceSingleton</p>
        <p>Transient : @ViewBag.GuidServiceTransient</p>
        <p>Scoped : @ViewBag.GuidServiceScoped</p>
    </div>
</div>